/* * {
    outline: green 1px solid;
} */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto'; */
    /* font-family: sans-serif; */
}

.container {
    display: flex;
}

.container#first {
    justify-content: center;
}

.container#heading {
    flex-direction: column;
    row-gap: 3vw;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    font-weight: 900;
}

.header-links {
    display: flex;
    column-gap: 3vw;
    align-items: center;
}

.content {
    display: flex;
    max-width: 80vw;
}

.title-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 16px;
}

#chicago-scenery {
    max-width: 30vw;
}

.container#second {
    flex-direction: column;
    align-items: center;
}

.container#illustrations {
    width: 50vw;
    column-gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    min-height: 10vw;
    width: 10vw;
    margin-bottom: 16px;
    border-style: solid;
    border-radius: 16px;
    border-color: #3882f6;
}

.card-text {
    text-align: center;
    color: darkslategray;
}

#illustrations .container {
    column-gap: 16px;
}

.container#third {
    justify-content: center;
}

.container#quote {
    flex-direction: column;
    max-width: 46vw;
}

.quote-owner {
    align-self: flex-end;
}

.container#fourth {
    justify-content: center;
}

.container#call-to-action {
    justify-content: space-around;
    width: 70vw;
    padding-top: 54px;
    padding-bottom: 54px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}

#call-to-action .container#text {
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
}

.container.button {
    justify-content: flex-start;
    align-items: center;
}

.container#footer {
    justify-content: center;
}

/*styling*/

.container#first, #footer {
    background-color: #1f2939;
    color: #f9faf8;
}

.container#first {
    padding-top: 1vw;
    padding-bottom: 5vw;
}

h1.title {
    font-size: 48px;
    font-weight: bolder;
}

p.title-subtext, .header-links {
    color: #e5e7eb;
    max-width: 22vw;
}

.logo {
    font-size: 24px;
}

.container#first button {
    color: #e5e7eb;
    margin-top: 8px;
    border-color: #3882f6;
}

button {
    padding: 6px 16px;
    border-radius: 8px;
    width: 7rem;
    font-weight: 900;
}

.container#call-to-action, .container#first button {
    background-color: #3882f6;
}

.container#second h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 3rem;
}

.container#third {
    background-color: #e5e7eb;
}

p.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

p.quote-owner {
    font-weight: 1000;
    font-size: 24px;
    margin-right: 6rem;
}

.container#second, .container#third, .container#fourth {
    padding-bottom: 5vw;
    padding-top: 5vw;
}

#text h1 {
    font-size: 24px;
}

.container.button #call-to-action {
    background-color: #3882f6;
    color: white;
    border-color: white;
}

#footer p {
    padding: 2rem;
}