* {
    outline: green 1px solid;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
}

.container#heading {
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.header-links {
    display: flex;
}

.content {
    display: flex;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.title {
    margin: 0;
    padding: 0;
}

.title-subtext {
    margin: 0;
    padding: 0;
}

.img-placeholder {
    display: flex;
    /* width: 50vw; */
    width: 50%;
}

button#top-page {
    width: 5em;
}

.container#illustrations {
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 10vw;
}

.square {
    height: 10vw;
    width: 10vw;
    margin-bottom: 16px;
}

.card-text {
    margin: 0;
    /* padding: 0; */
    text-align: center;
}

#illustrations .container {
    column-gap: 16px;
}