* {
    outline: green 1px solid;
}

body {
    margin: 0px;
}

.container {
    display: flex;
}

.container#first {
    justify-content: center;
}

.container#heading {
    flex-direction: column;
    /* width: 60%; */
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.header-links {
    display: flex;
}

.content {
    display: flex;
}

.title-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    margin: 0;
    padding: 0;
}

.title-subtext {
    margin: 0;
    padding: 0;
}

.img-placeholder {
    display: flex;
    flex: 1;
}

button#top-page {
    width: 5em;
}

.container#second {
    flex-direction: column;
    align-items: center;
}

.container#illustrations {
    width: 50%
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 100/4 */
    /* width: 25%; */
}

.square {
    height: 10vw;
    width: 10vw;
    margin-bottom: 16px;
}

.card-text {
    margin: 0;
    /* padding: 0; */
    text-align: center;
}

#illustrations .container {
    column-gap: 16px;
}

.container#third {
    justify-content: center;
}

.container#quote {
    flex-direction: column;
    width: 40%
}

#quote p {
    margin: 0px;
}

.quote-owner {
    align-self: flex-end;
}

.container#fourth {
    justify-content: center;
}

.container#call-to-action {
    justify-content: center;
    padding: 16px 64px;
}

.container#text {
    flex-direction: column;
    flex: 1;
}

#text p {
    margin: 0;
}

.container.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}